<div ng-repeat="note in notes">
   <div class="col-md-4 portfolio-item">
   
   <a href="#" data-toggle="modal" data-target="#{{note.id}}">
		
		<img class="img-responsive" src="./images/papel.jpg" width="700" height="400" alt="" title="{{note.publish}}">
	</a> 
	<h4>
		<input type="button" class="btn-link" data-toggle="modal" data-target="#{{note.id}}" value="Oferta de la empresa: {{note.author.name}}" > 
	</h4>
	<p>{{note.publish}}</p>
	
	
	 <!--  modal -->
  <div class="modal fade" id="#{{note.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{note.author.name}}</h4>
      </div>
      <div class="modal-body">
        {{note.publishDate}}
        <br>
        {{note.publish}}
      </div>
      
      
      		<div ng-if="note.canCommet==true" class="modal-body">
      			<hr/>
       		
       			<div  ng-if="note.comments.length==0">
       		          No hay comentarios
       			</div>
       			       <ul class="timeline" ng-if="note.comments.length!=0">
       			       
       		            <div ng-repeat="n in range(0,note.comments.length)">
       		              
      					 	
       						
       		              
       		                           <li ng-if="n%2=0"> 
       		                       		
       		                       		  <div class="timeline-panel">
       		                       		  {{note.coments[n].author.name}} dijo: note.coments[n].text
       		                       			
       		                       			   </div>
       		                       		 </li>
       		                          
       		                
       		                          <li ng-if="n%2!=0" class="timeline-inverted"> 
       		                          		<div class="timeline-panel">
       		                          		
       		                          				 {{note.coments[n].author.name}} dijo: note.coments[n].text
       		                          	 </div>			
       		                          	</li>

       		       
       		            </ul>
       		    </div><!--  fin for -->
       		    
       		                 
       		                    <div ng-if="userPerfil.type==='alu'">		                        
                                	<input ng-model="comentario" placeholder="Escribe un comentario..." id="comentario" type="text" style="height:100px" class="form-control" required/>
                                	<!--  <input id="user" type="hidden" value="<%=user.getName() %>" />--> <!-- lo saque porque creo que no es necesario -->
                                	<span class="text-mute">Queremos saber tu opini&oacute;n</span>
                              	 </div>  
       		    
       		</div>
      
  
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>  
              
       			 <button ng-if="userPerfil.type==='alu'" type="button" class="btn btn-primary" ng-click='enviarComentario()' >Comentar</button>
        
      </div>
    </div>
	</div><!-- div modal -->
	
	
	
	</div> <!--  div col item --> 
	</div>