<div class="container">
	<div class="row">
		<div ng-repeat="note in board.noteList">
			<div class="col-md-4 porfolio-item">
				<a data-toggle="modal" data-target="#myModal{{note.id}}">{{note.title}}</a>
				<img data-toggle="modal" data-target="#myModal{{note.id}}" class="img-responsive" src="./images/papel.jpg" width="700" height="400" alt="" title="{{note.title}}"">
				
				<div id="myModal{{note.id}}" class="modal fade">
					<div class="modal-document" role="document">
					
						<div class="page-header">
    						<button type="button" class="close" data-dismiss="modal">&times;</button>
    						<h1 id="timeline" class="gris">{{note.title}}</h1>
   	 						<h3> {{note.publish}}</h3>
  						</div>
  						<ul class="timeline" >
		  					<li ng-repeat="comment in note.comments" ng-class="{'timeline-inverted': comment.author.id!=note.author.id}">
		  					
		  					
		  					    
		  						<div  ng-if="comment.author.id!=note.author.id" class="timeline-badge"><i class="glyphicon glyphicon-user"></i></div> <!-- glyphicon glyphicon-check -->
		      					<div  ng-if="comment.author.id!=note.author.id" class="timeline-panel">
		        					<div class="timeline-heading">
		          						<h4 class="timeline-title">{{comment.author.name}} dijo: </h4>
		          						<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> fecha: {{comment.commentDate}}</small></p>
		       						</div>
		        				<div class="timeline-body">
		          					<p> {{comment.text}}</p>		 
		        				</div>
		      					</div>
		      					
		      					
		      					
		      					<div   ng-if="comment.author.id==note.author.id" class="timeline-badge"><i class="glyphicon glyphicon-star-empty"></i></div> <!-- glyphicon glyphicon-check -->
		      					<div ng-if="comment.author.id==note.author.id" class="timeline-panel">
		        					<div class="timeline-heading">
		          						<h4 class="timeline-title">{{comment.author.name}} dijo: </h4>
		          						<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> fecha: {{comment.commentDate}}</small></p>
		       						</div>
		        				<div class="timeline-body">
		          					<p> {{comment.text}} </p>		 
		        				</div>
		      					</div>
		      					
		      					
		      				</li>
      				
      					</ul>
      					
      					<div  ng-if="token=='true'"  > 
		   					<form ng-submit="sendComment($parent.board.id, note.id, commentText)" id="formAddComment" name="formAddComment">
								<input placeholder="Escribe un comentario..." type="text" style="height: 100px" class="form-control" ng-model="commentText" required/>
								
								<input id="saraza" ng-if="token=='true'" type="submit" class="btn btn-primary" value ="Comentar"/>
								<span class="text-mute">Queremos saber tu opini&oacute;n</span>
								
							</form>
						</div>
		   				<div class="modal-footer">
			        		<button type="button" class="btn btn-default" id='btnCloseModal' data-dismiss="modal">Close</button>
			      		</div>
      					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>