<!-- Bootstrap Core CSS -->
 <!-- <link href="../css/bootstrap.min.css" rel="stylesheet">  --> <!--  lo muevo al index single page baby -->
 <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">						
	  <!--  todos tienen el link el home -->
	 <li><a ng-href='#/home'>Home</a></li>
     <li ng-show="userGlobal==undefined"><a  href="#/login"><i class="fa fa-shield"></i> Login</a></li>
    <!--  <li ng-if="userGlobal!=null"><a  href="#logout"><i class="fa fa-shield"></i> Logout</a></li> -->
     <!-- <li><a ng-href="#/alta"><i class="fa fa-comment"></i> Alta</a></li> -->
		
		
		<!--  admin menu -->
		<li ng-if="userPerfil==='adm'" class="dropdown"><a href="" class="dropdown-toggle"
	data-toggle="dropdown" role="button" aria-haspopup="true"
	aria-expanded="false">Operaciones Admin <span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="#listBoard">Operaciones Cartelera(ABM)</a></li>
		<li><a href="#listAllPublish">Listado publicaciones</a></li>
		<li><a href="#createTemplate">Crear template</a></li>
		<li><a ng-href="#/userList">Listado Usuarios (BM)</a></li>
		<li><a ng-href="#/createUser">Alta usuarios</a></li>
		<li><a href="createPubli">Alta publicacion</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="#Others">Aqu&iacute; otros...</a></li>
	</ul></li>
		<!-- fin admin menu -->
		
			<!--  alu menu -->
		<li ng-if="userPerfil==='alu'" class="dropdown"><a href="" class="dropdown-toggle"
	data-toggle="dropdown" role="button" aria-haspopup="true"
	aria-expanded="false">Operaciones Alumno <span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="#interestList">Intereses</a></li>	
	</ul></li>
		<!-- fin alu menu -->
		
		<!--  profesor menu -->
		<li ng-if="userPerfil==='doc'" class="dropdown"><a href="" class="dropdown-toggle"
	data-toggle="dropdown" role="button" aria-haspopup="true"
	aria-expanded="false">Operaciones Docente <span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="#listPublish">Aqu&iacute; publicaciones</a></li>
		<li><a href="#listStudentsProf">Aqu&iacute; Ver lista alumnos</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="#createPubli">Alta publicacion</a></li>
		<li><a href="#">Aqu&iacute; otros...</a></li>
	</ul></li>
		<!--  fin profesor menu -->
		
		
			<!--  publicador menu -->
		<li ng-if="userPerfil==='pub'" class="dropdown"><a href="" class="dropdown-toggle"
	data-toggle="dropdown" role="button" aria-haspopup="true"
	aria-expanded="false">Operaciones Publicador <span class="caret"></span></a>
	<ul class="dropdown-menu">
	<li><a href="#createPubli">Alta publicacion</a></li>
	<li><a href="#listPublish">Aqu&iacute; publicaciones</a></li>
		<li><a href="#">operaciones publicador</a></li>
	</ul></li>
		<!--  fin publicador menu -->
		
		
		
		<!--  administrative menu -->  <!-- ???????? -->
			<li ng-if="userPerfil==='administrative'" class="dropdown"><a href="" class="dropdown-toggle"
	data-toggle="dropdown" role="button" aria-haspopup="true"
	aria-expanded="false">Operaciones Administrativo <span class="caret"></span></a>
	<ul class="dropdown-menu">
	<li><a href="#createPubli">Alta publicacion</a></li>
	<li><a href="#listPublish">Aqu&iacute; publicaciones</a></li>
		<li><a href="#">operaciones administrativo</a></li>
	</ul></li>
		<!--  fin administrative menu -->
		
		
	</ul>
	
	<ul class="nav navbar-nav navbar-right" ng-if="userGlobal!=undefined">						
                    	<li><a href="">{{userPerfil.name}} </a></li>
                    	<li>
                    		<div ng-controller="loginController">
		                    	<form ng-submit="logout()">
		                    		<input type="submit" class="btn btn-danger" value="Logout"/>
		                    	</form>
	                    	</div>
	                    </li>
                    	<li> <a href="#/alta"> <span class="glyphicon glyphicon-edit"></span></a><!-- hacer config -->                            
	</ul>

	
</div>