
<h1 style="text-align:center"> Alta Usuario</h1>



       <!--   <div ng-if="mensajeError!=null && mensajeError==''" class ='alert alert-success'><p style='text-align:center'>Se ha Ingresado Correctamente al Usuario</p></div>
         	

       		<div ng-if="mensajeError!=null && mensajeError!=''"  class ='alert alert-danger'>
       		   <div ng-repeat="menesaje in mensajeError">
           			<p style='text-align:center'>{{mensaje}}</p></br>	 
           	</div>-->
   


<div class="container">
	<form ng-submit="createUser()" method="post">
		<div class="form-group">	
			<label for="tipoUsuario">Tipo de Usuario: </label>
			<select ng-model="type" name="tipoUsuario" required>
			<!--  <option selected value="">Elegir tipo</option>-->
			  <option value="adm" id="adm" >Administrador</option>
			   <option value="administrative" id="administrative" >Administrativo</option>
			  <option value="pub" id="pub" >Publicador</option>
			   <option value="alu" id="alu" >Alumno</option>
			    <option value="pro" id="pro" >Profesor</option>
			     <!--   <option value="sec" id="sec" >Secretario</option>-->
			</select>
			 
		</div>	
		<div class="form-group">	
			<label for="descrip">Nombre de Usuario:</label>
			<input ng-model="name" type="text"  class="form-control" id="usuario" placeholder="Nombre de usuario"  name="usuario" required>
			 
		</div>	
		<div class="form-group">	
			<label for="descrip">Contrase&ntilde;a:</label>
			<input ng-model="pass" type="password"  class="form-control" id="password1" placeholder="Aqu&iacute; su Contrase&ntilde;a"  name="password1"  required>
			 
		</div>	
		<div class="form-group">	
			<label for="descrip">Repetir Contrase&ntilde;a:</label>
			<input ng-model="passRepeat" type="password"  class="form-control" id="password2" placeholder="Aqu&iacute; su Contrase&ntilde;a"  name="password2" required>
			 
		</div>	
		
		<div class="form-group">
			<label for="email">Email:</label>
			<input ng-model="mail" class="form-control" placeholder="Ingrese mail" type="email" id="email" name="email" required>
		</div>
	
	<button type="submit" ng-click="createUser()" class="btn btn-success">Registrar Usuario</button>
	</form>
</div>