
<script>
function error(){
	$("#output").removeClass(' alert alert-success');
	$("#output").addClass("alert alert-danger animated fadeInUp").html("ingres&oacute; mal el usuario o contrase&ntilde;a =( ");
	
	//document.getElementById('output').addClass("alert alert-danger animated fadeInUp").html("ingreso mal el usario o contraseña =() ");
	//var d = document.getElementById('output');
	//d.className += " alert alert-danger animated fadeInUp";
	//d.value += "ingreso mal el usuario y/o contraseña =( ";
};
</script>

<script>
function login(){
	alert("login");
	var user = $("input[name=user]");
	alert("login2");
	var pass = $("input[name=password]");
	alert("login3");
	if(user!=pass){
		error="errror";
		$scope.setError();
	}else{
		alert("exito login");
	}
};
</script>

<div class="container">
	<div class="login-container" ng-controller="loginController" >
	   	
		 <div id="output"  ng-bind="mensaje">
		     <!--  <script> error();</script> -->
		     
		</div>
		<!-- esto est lo nuevo -->
		 <div ng-if="mensaje" class="alert alert-danger" role="alert">
          <small ng-bind="mensaje"></small>
        </div>
        <!--  -->
	 	<div class="avatar"></div>
		<div class="form-box">
			<!--  <form action="../Login" method="post">-->
			<form ng-submit="login()" id="formLogin" name="formLogin" >
        		<input name="user" type="text" placeholder="username" ng-model="userNameLogin" autofocus required>
          	  	<input name="password" type="password" placeholder="password" ng-model="passLogin" required>
          		
          		<!-- <button class="btn btn-info btn-block login" type="submit" onclick="login()">Login</button> -->
      	 	     <button  class="btn btn-info btn-block login" type="submit">Login <i class="fa fa-sign-in"></i></button>
      	 	</form>
    	</div>
 	</div>
</div>


<div>
  <a class="btn btn-info btn-block" href="#/home">ir al home</a>
</div>
