<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="ISO-8859-1">
		<title>Cartelera Facultad Inform&acute;tica - UNLP</title>
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
	  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
	  
	 	<!-- login  -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <link href="./css/bootstrap.min.css" rel="stylesheet">
	  	<link href="./css/login.css" rel="stylesheet">
		<script src="./js/bootstrap.min.js"></script>
		<!--  fin del login -->
	  
	  	<!-- menues -->
	    <link href="./css/bootstrap.min.css" rel="stylesheet">
	<!--  fin menues -->
	</head>
	<body >
	
			<div ng-controller="loginController"  class="navegacion">
				<div ng-include src="'./pages/headers/header.html'"></div>
				<div class="jumbotron" >
				<input ng-model="valor" type="text"  />
				<input ng-click="ver()"type="submit" />
				<p >{{valor}}</p>
				
			</div>
			<div ng-controller="mainController" class="container">
				<div class="jumbotron">
			  
					<h2 ng-show="mostrado">Bienvenidos a la Cartelera de la Facultad de Inform&aacute;ca de la UNLP</h2>
				</div>
				
				<div ng-view>
					<!-- Aca carga el contenido principal -->
					
				</div>
		
		
		
			</div>
		
		
		
		
		<script src="angular/angular.js"></script>
		<script src="app/app.js"></script>
		<script src="angular/angular-route.js"></script>

		<!-- controllers -->
   		<script src="./app/controllers/loginController.js"></script>
  		<script src="./app/controllers/contentBoardController.js"></script>
	</body>
</html>