body{
  font-family:sans-serif;
  font-size:25px;
}
.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#333333;
  padding:0;
  /*text-decoration:underline;*/
  font-family:inherit;
  font-size:inherit;
}
.btn-link:active{
  color:#FF0000;
}